* {

    box-sizing: border-box;
}

html {
    background-color: black;
}

h1 {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 44px;
    text-align: center;
    margin-bottom: 0;

}

h2 {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 37px;
    text-align: left;
    margin-bottom: 0;
    width: 70%
}

p1.paragraph {

    background-color: white;
    margin: 0 auto;
    color: black;
    text-align: left;
    margin-bottom: 0;
    font-size: 1em;
    font-family: 'Trebuchet MS', sans-serif;
    Width: 50%
}



img {

    height: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: aliceblue;
    box-shadow: 5px 5px 5px white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
    overflow: hidden;

    font-family: 'Trebuchet MS', sans-serif;
    color:

}

li {

    float: left;
    background-color: aliceblue
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black
}

li a:hover {
    background-color: white;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}







.header {

    border: 1px dotted yellow;
    padding: 10px;
    background-color: grey;
    font-size: 1.2em;
    font-family: 'stick', sans-serif;
}

.left,
.right {
    border: 1px solid green;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;

    width: 50%;
    float: left;

}


.footer {
    background-color: grey;
    float: left;
    width: 100%;
    color: black;

}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aliceblue;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
}





.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:transparent;
   color: black;
   text-align: center;
    font-size: 2.1em;
}
